---
- name: Install dependencies (Debian)
  ansible.builtin.apt:
    name: "{{ __hsegl_dependencies }}"
      # - "gnupg2"
    state: "present"
  when: ansible_os_family | lower == 'debian'

- name: Download GitLab repo install script
  ansible.builtin.get_url:
    url: "{{ __hsegl_repo_install_script_url }}"
    dest: "/tmp/gitlab_install_repository.sh"
    validate_certs: "{{ hsegl_download_validate_certs }}"
    mode: "0700"

- name: Install GitLab repo
  ansible.builtin.command: bash /tmp/gitlab_install_repository.sh

- name: Remove GitLab repo install script
  ansible.builtin.file:
    path: "/tmp/gitlab_install_repository.sh"
    state: "absent"

- name: Define the Gitlab package name
  ansible.builtin.set_fact:
    __hsegl_package_name: "{{ hsegl_edition }}{{ __hsegl_package_version_separator }}{{ hsegl_version }}"
  when: hsegl_version | length > 0

- name: Install GitLab
  ansible.builtin.package:
    name: "{{ __hsegl_package_name | default(hsegl_edition) }}"
    state: "present"
  async: 300
  poll: 5
